<h1>Welcome, this is the home page</h1>  
  
<button type="button" 
        class="btn btn-lg btn-danger" 
        data-bs-toggle="popover" 
        title="Popover title" 
        data-bs-content="Amazing content, right ?">
        Click to toggle popover


<%= button_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>

</button>  