<div class="container">	
	<%= render 'home/comic_card' %>
	<div class="footer mb-4">
		<button type="button" class="btn btn-light btn-right font-weight-bold"><strong>Previous</strong></button>

		<button type="button" class="btn btn-light btn-left"><strong>Next</strong></button>
	</div>
	<%#  <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
</div>