<nav class="navbar sticky-top">
	<div class="row mx-auto">
		<div class="col-9">

			<div class="marvel-logo mt-4">
				<%= image_tag "marvel_logo.png", class: 'image'%>
			</div>

			<form class="d-flex mt-4">
				<input class="form-control" type="search" placeholder="e.g. Deadpool" aria-label="Search">
				<%# <button class="btn btn-outline-success" type="submit">Search</button> %>
			</form>
		</div>
	</div>
</nav>